.btn {
	width: 80%;
	margin: 0 10% 1em;
	display: block;
}

.price {
	background-image: url(imgs/icons/tiny_money.png);
	padding-left: 16px;
	background-repeat: no-repeat;
}

.productname img {
	vertical-align: middle;
	width: 2em;
}

img.portraitpart {
	position: absolute;
}

img.portraitfinal {
	position: relative;
}

.fullscreen {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

.halfpage {
	display: inline-block;
	width: 50%;
	padding: 0;
	margin: 0;
	vertical-align: top;
}

#dialogcontent .portrait {
	position: relative;
	display: inline-block;
	width: 12%;
	padding: 0;
	margin: 0;
	vertical-align: top;
	text-align: center;
}

#dialogcontent .portrait img {
	height: 100%;
}

#dialogcontent .content {
	display: inline-block;
	width: 76%;
	padding: 0;
	margin: 0;
	vertical-align: top;
	font-size: x-large;
	overflow-y: auto;
	max-height: 100%;
	padding: 0 0.5em;
	box-sizing: border-box;
}

#dialogoptions {
	text-align: right;
	list-style-position: inside;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#dialogoptions li:hover {
	list-style-type: circle;
	background-color: #CCCCCC;
}

.window {
	background-color: white;
	color: black;
	border: 5px dashed brown;
	padding: 1em;
}

.miniform {
	background-color: white;
	color: black;
	border: 5px dashed brown;
	padding: 1em;
	position: absolute;
	left: 45%;
	top: 45%;
	width: 10%;
	min-height: 10%;
}

.miniform p {
	margin-top: 0;
	margin-bottom: .5em;
	text-align: center;
}

.miniform .solo {
	width: 100%;
}

.miniform .duo {
	width: 50%;
}

.tabs {
	padding: 0;
	font-size: 0;
}

.tabs li {
	font-size: medium;
	border: 1px solid black;
	margin: 0;
	padding: 3px;
	background-color: white;
	display: inline-block;
	vertical-align: bottom;
}

.tabs li.selected {
	font-size: large;
	font-weight: bold;
}

.inventory {
	padding: 0;
	font-size: 0;
	list-style-type: none;
}

.inventory li {
	font-size: x-large;
	background-color: #f0d2b4;
	border: 1px solid black;
	margin: 5px;
	vertical-align: middle;
}

.inventory li img {
	vertical-align: middle;
	width: 2em;
}

.inventory li span {
	vertical-align: middle;
}
